<!doctype html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <title> Codelies quiz by Emelie Ahlin Andersson </title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="emelie_style.css">
 <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Source+Serif+Pro|Vidaloka" rel="stylesheet">
</head>
<body>
  <h1>CODELIES QUIZ</h1>
  <br>
  <p>av Emelie Ahlin Andersson</p>
  <img src="barcelona.jpg" alt="Vi gör quiz i Barcelona" height="300" width="100%">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4 column">
        <h2>Quiz 1</h2>
        <p>Quizet handlar om...</p>
          <button class="button" type="button">Välj Quiz 1</button>
      </div>
      <div class="col-md-4 column">
        <h2>Quiz 2</h2>
        <p>Quizet handlar om...</p>
        <button class="button" type="button">Välj Quiz 2</button> 
      </div>
      <div class="col-md-4 column">
        <h2>Quiz 3</h2>
        <p>Quizet handlar om...</p>
        <button class="button" type="button">Välj Quiz 3</button>
        </div> 
      </div>
    </div>
  </div>
  <br>
  <br>
</body>
</html>