<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewpoint" content="width=device-width, initial-scale=1">
	<title> Codelies quiz by Emelie Ahlin Andersson </title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="emelie_style.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Source+Serif+Pro|Vidaloka" rel="stylesheet">
</head>
<body>
	<h1>FRÅGA 1</h1>
	<br>
	<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 column4">
       <div class="full-width-div">
      <br>
      <br>
        <p>Hur många tjejer går kursen web development i Barcelona tillsammans med Tjejer Kodar? </p>
        <br>
	<p>
		<input type="radio" name="antal" id="20">
		<label for="male">20</label><br>
		<input type="radio" name="antal" id="30">
		<label for="male">30</label><br>
		<input type="radio" name="antal" id="40">
		<label for="male">40</label><br>
		<br>
	</p>
      </div>
    </div>
  </div>
</body>
</html>