<!doctype html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <title> Codelies quiz by Emelie Ahlin Andersson </title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="emelie_style.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Source+Serif+Pro|Vidaloka" rel="stylesheet">
</head>
<body>
<h1>HÄRLIGT!</h1> 
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 column4">
       <div class="full-width-div">
      <br>
      <br>
      <br>
        <h2>Du har valt Quiz 1</h2>
      </div>
    </div>
  </div>
<br>
<p>Här kommer du att testa dina kunskaper inom ... [ämnet].</p>
<br>
<p><a href="https://www.nordnet.se/brand/">Starta quizen!</a> </p>
</body>
</html>
