<!doctype html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <title> Codelies quiz by Emelie Ahlin Andersson </title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/emelie_style.css">
 <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Source+Serif+Pro|Vidaloka" rel="stylesheet">
</head>
<body>
  <h1>CODELIES QUIZ</h1>
  <br>
  <p class="subtitle">av Emelie Ahlin Andersson</p>
  <img class="startpicture" src="/static/vineyard_panorama.jpg" alt="Vi gör quiz i Barcelona" height="300" width="100%">
  <div class="container">
    <div class="row">
    {% for quiz in quizzes %}
      <div class="col-md-4 column">
        <h2>{{ quiz.quiz_number }}</h2>
        <h3>{{ quiz.name }}</h3>
        <p>{{ quiz.description }}</p>
          <a class="button" type="button" href="{% url 'quiz_page' quiz.quiz_number %}">Gå till Quiz:et</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
  <br>
</body>
</html>