body {
	background-color: #ECEBEB;
	font-family: 'Vidaloka', serif;
	font-family: 'Playfair Display SC', serif;
	font-family: 'Source Serif Pro', serif;
	}
h1 {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
p {
	text-align: center;
	font-size: 16px;
}
a {
	text-align: center;
}
.subtitle {
	margin-bottom: 20px;
}
.startpicture {
	margin-bottom: 5px;
}

.column{
	text-align: center;
}
.column4 { 
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	min-height: 100px;
}
.full-width-div {
    width: 100%;
}

.button {
    background-color: #00a9ec;
    border: none;
   	color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
	background-color: #365299;
	color: white;
	text-decoration: none;
}
.ruta {
	display: inline-block;
	text-align: left;
}

