body {
	background-color: #ECEBEB;
	font-family: 'Vidaloka', serif;
	font-family: 'Playfair Display SC', serif;
	font-family: 'Source Serif Pro', serif;
	padding-top: 46px;
}
h1 {
	font-size: 72px;
	font-weight: bold;
	text-align: center;
}
h2 {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
}
h3 {
	font-size: 28px;
	font-weight: bold;
}
h4 {
	font-size: 22px;
	font: italic;
}
p {
	text-align: center;
	font-size: 16px;
}
a {
	text-align: center;
}

.column{
	text-align: center;
}
.column4 { 
	background-color: #365299;
	width: 100%;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
}
.full-width-div {
    width: 100%;
    left: 0;
}

.button {
    background-color: #00a9ec;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.ruta {
	display: inline-block;
	text-align: left;
}

